defaults:
  - base
  - dataset_evaluation: ade20k
  - _self_

# Evaluation settings
eval:
  task: "seg"  
  model_ckpt: null
  upsampler: anyup

num_epochs: 8

optimizer: 
  lr: 1e-3
  wd: 1e-5

train_dataloader:
  batch_size: 32

val_dataloader:
  batch_size: 4

img_size: 448
target_size: ${img_size}

# Metrics settings
metrics:
  seg:
    num_classes: ${dataset_evaluation.num_classes}
  depth:
    min_depth: 1e-3
    max_depth: 10

sanity: false 